<server description="restfulclient">

    <featureManager>
      <feature>restfulWS-3.1</feature>
      <feature>transportSecurity-1.0</feature>
      <feature>jsonb-3.0</feature>
      <feature>servlet-6.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" httpPort="-1" httpsPort="9443" host="*"/>

    <!-- config to send client cert -->
    <ssl id="clientSSLConfig" keyStoreRef="defaultKeyStore" trustStoreRef="defaultKeyStore" sslProtocol="TLSv1.2" verifyHostname="false" clientKeyAlias="default"/>
    
    <!-- regular ssl config --> 
    <ssl id="defaultSSLConfig" keyStoreRef="defaultKeyStore" trustStoreRef="defaultKeyStore" sslProtocol="TLSv1.2" verifyHostname="false"/>
    <keyStore id="defaultKeyStore" password="passw0rd" location="${server.config.dir}/resources/security/key.p12" updateTrigger="polled" />
</server>